<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <div class="navbar-brand">
    <img src="/assets/146680_original_4000x6000.jpg" alt="logo" (click)="goHome()" style="width:50px; height: 50px;">
  </div>
  
  <ul class="navbar-nav">
    <li class="nav-item">
      <p class="nav-link" (click)="SharedByMe()">Shared By Me</p>
    </li>
    <li class="nav-item">
      <p class="nav-link" (click)="SharedToMe()">Shared To Me</p>
    </li>
    <li class="nav-item">
      <p class="nav-link" (click)="upload()">Upload Files</p>
    </li>
  </ul>
</nav>
